* {
  font-family: "Oswald", sans-serif;
}

/* Style for cards */
.card-style {
  background-color: rgb(227, 248, 255);
  border-radius: 1rem;
}

/* Office images */
.office-figure img {
  transition: all 0.3s linear;
}

.office-figure:hover img {
  filter: opacity(0.8) brightness(60%) blur(5px);
  transition: all 1.5s cubic-bezier(.48,.89,.73,1.01);
  transform: scale(1.1, 1.1);
}

.office-figure:hover .parent-of-office-imgs {
  box-shadow: inset 0 0 20px 15px rgb(104, 104, 104);
}

.office-figure-content {
  z-index: -10;
  pointer-events: none;
  transition: all 0.3s linear;
}

.office-figure:hover .office-figure-content {
  visibility: visible;
  z-index: 20;
}

/* Email Marketing */
.emailMarketing {
  width: 100%;
  height: 50vh;
  background: url(./Image/Element-Background/footer-background.png);
  background-origin: border-box;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: calc(100%);
  background-clip: padding-box;
  background-attachment: scroll;
}

/* Like Sign Animation */
#likeImgAnimated {
  transform: translate(0, -50%);
  animation: like-animation 5s infinite;
  -webkit-animation: like-animation 5s infinite;
}

@keyframes like-animation {
  0% {
    transform: rotate(0) translate(0, -50%);
    opacity: 50%;
  }
  10% {
    transform: rotate(15deg) translate(10%, -40%);
    opacity: 100%;
  }
  20% {
    transform: rotate(0) translate(0, -50%) rotateZ(360deg);
    opacity: 50%;
  }
  40% { 
    transform: rotate(-15deg) translate(-10%, -60%);
    opacity: 100%;
  }
  70% {
    transform: rotate(0) translate(0, -50%);
    opacity: 50%;
  }
  85% {
    transform: rotate(15deg) translate(10%, -40%);
    opacity: 100%;
  }
  100% {
    transform: rotate(0) translate(0, -50%);
    opacity: 50%;
  }
}
